DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,79.174.46.33
POSTGRES_DB=ediny_kontur
POSTGRES_USER=ediny_kontur
POSTGRES_PASSWORD=ediny_kontur
WEB_APP_BASE_URL=http://localhost:8000
TELEGRAM_BOT_TOKEN=
MAX_UPLOAD_SIZE_MB=10
